:root {
  --bg-color: rgb(195, 195, 191); }

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  /* For Firefox */
  opacity: 0.3; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  padding-top: 10vh;
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem; }

h3 {
  font-size: 2.4rem; }

input,
button {
  border: none;
  outline: none;
  height: 3rem;
  border-radius: 1rem; }

button,
input[type='submit'] {
  cursor: pointer;
  font-size: 1.4rem; }

.app--container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 31rem auto;
  gap: 5rem;
  width: 95rem;
  padding: 5rem;
  padding-bottom: 10rem;
  border-radius: 20px;
  margin: 0 auto; }

.app--sidebar {
  width: 10.5rem; }

.list-of-decks {
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 26rem;
  padding-right: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto; }
  .list-of-decks::-webkit-scrollbar {
    width: 1rem; }
  .list-of-decks::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1rem; }

.deck--item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 8rem;
  border-radius: 1.6rem;
  cursor: pointer; }

.deck--item-create {
  background-color: #555;
  color: #fff; }

.app--main-area {
  border-radius: 3rem;
  padding: 3rem; }

.app--main-area.closed {
  display: flex;
  justify-content: center;
  align-items: center; }

.app--main-area.opened {
  background-color: #999; }

.app--start-message,
.app--end-message {
  width: fit-content;
  margin: 0 auto; }

.app--end-message {
  display: none; }

.deck--options {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem; }

input[value='Start'] {
  grid-column: 1 / -1;
  justify-self: center;
  width: 5rem;
  height: 3rem; }

.card--fside-separate, .card--bside-separate, .card, .card--fside, .card--bside {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  padding: 2rem; }

.card--fside-separate, .card--fside {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #888; }

.card--bside-separate, .card--bside {
  display: grid;
  grid-template: 'answer picture' min-content '. additional';
  background-color: #ccc; }

.card--fside, .card--bside {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.cards-block-wrapper {
  grid-column: 1 / -1; }

.cards-list-container {
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-self: center;
  width: 100%;
  max-height: 50rem;
  padding-right: 2rem;
  overflow-y: auto;
  overflow-x: hidden; }
  .cards-list-container::-webkit-scrollbar {
    width: 1rem; }
  .cards-list-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1rem; }

.card--sides-block {
  display: flex;
  gap: 2rem;
  flex-shrink: 0;
  height: 20rem; }

.card--bside-separate {
  position: relative; }

.card--container {
  width: 40rem;
  height: 20rem;
  perspective: 1000px; }
  .card--container.flip .card {
    transform: rotateY(180deg); }

.card {
  padding: 0;
  transition: transform 0.6s;
  transform-style: preserve-3d; }
  .card--bside {
    transform: rotateY(180deg); }

.card--btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem; }

.card--btn-up, .card--btn-down, .card--btn-del, .card--btn-check {
  height: 4rem;
  border: none;
  border-radius: 0.5rem; }

.card--btn-up {
  position: relative; }

.card--btn-del {
  margin-top: 2rem; }

.card--btn-up::after {
  content: '';
  position: absolute;
  left: -2.7rem;
  top: 0;
  transform: translateY(-100%);
  height: 0.2rem;
  width: 7rem;
  background-color: var(--bg-color); }

.card--bside-separate::after {
  content: '';
  position: absolute;
  right: 0.8rem;
  bottom: -0.2rem;
  transform: translateX(100%);
  height: 0.2rem;
  width: 7rem;
  background-color: var(--bg-color); }

.deck--create {
  display: none;
  flex-direction: column;
  gap: 1rem; }

.deck--err-message {
  display: none; }

.card--create {
  display: none;
  flex-direction: column;
  gap: 1rem; }

.card--create--cards-block {
  display: flex;
  gap: 2rem; }

.card--side-separate {
  height: 20rem; }

.card--bside-separate {
  align-items: center; }

.card--bside-separate input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  width: 10rem; }

.card-q {
  text-align: center;
  resize: none;
  width: 28rem;
  outline: none; }

.deck--del--cur-lang {
  grid-column-end: 3; }

.deck--del--whole {
  grid-column-end: 4; }

.lang--label,
.lang--add-label {
  font-size: 1.6rem; }

.lang--label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem; }

.lang-add-block {
  display: flex;
  margin-top: 1rem; }

#lang_input {
  width: 12rem;
  padding-left: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.lang--add-btn {
  width: 4rem;
  padding: 0 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.deck--info {
  display: none;
  position: absolute;
  z-index: 1;
  max-width: 30rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #333;
  color: #fff;
  opacity: 0.7; }

.card--img {
  width: 12rem;
  height: 12rem;
  border-radius: 1rem;
  justify-self: end; }

.decks--search {
  width: 35%;
  transition: 0.3s;
  background-color: #999;
  cursor: pointer;
  height: 4rem;
  padding-left: 4rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  background: #999 url("../images/icons/search-outline.svg") 0.5rem center/2.8rem no-repeat; }

.decks--search:focus {
  width: 220%;
  cursor: auto; }

.cards--search {
  height: 4rem;
  padding-left: 4rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  background: #999 url("../images/icons/cards.svg") 0.5rem center/2.8rem no-repeat; }

.cards--add-new {
  width: 100%;
  margin-top: 2rem;
  height: 6rem;
  border-radius: 0;
  background: #c3c3bf;
  background: linear-gradient(90deg, rgba(195, 195, 191, 0.2) 0%, rgba(170, 170, 170, 0.597076) 50%, rgba(195, 195, 191, 0.2) 100%);
  font-weight: 500;
  font-size: 4.8rem;
  color: #555; }

.ionicon-plus {
  width: 5rem;
  height: 5rem; }

.deck--language, .deck--cards-order, .deck--option--cards-num {
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--bg-color); }

.deck--language {
  font-size: 1.6rem; }

.deck--cards-order-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem; }

#order_random,
#order_original {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.order-random-label,
.order-original-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  cursor: pointer; }

.order-random-label::before,
.order-original-label::before {
  content: url(../images/icons/radio-button-off-outline.svg);
  width: 2.5rem;
  height: 2.5rem; }

.checked::before {
  content: url(../images/icons/radio-button-on-outline.svg); }

#cards_num_input {
  width: 100%;
  height: 7rem;
  padding-left: 1rem;
  margin-top: 1.2rem;
  background: none;
  font-size: 7rem;
  text-align: center; }

.deck--create-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--bg-color); }
  .deck--create-fields li {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .deck--create-fields li input:not(input[type='color']) {
      width: 100%;
      padding-left: 1rem;
      font-size: 1.4rem; }
    .deck--create-fields li input[type='color'] {
      border-radius: 0; }

.deck--err-message {
  font-size: 2rem; }
