:root {
  --bg-color: rgb(195, 195, 191);
}

@mixin flex-container($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin scrollbars($size: 1rem, $color: rgba(0, 0, 0, 0.3)) {
  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 1rem;
  }

  scrollbar-color: $color transparent;
  scrollbar-width: thin;

  scrollbar-gutter: stable;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  opacity: 0.3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  padding-top: 10vh;

  background-color: var(--bg-color);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
}

h3 {
  font-size: 2.4rem;
}

input,
button {
  border: none;
  outline: none;

  height: 3rem;
  border-radius: 1rem;
}

button,
input[type='submit'] {
  cursor: pointer;
  font-size: 1.4rem;
}

.app--container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 31rem auto;
  gap: 5rem;

  width: 95rem;
  padding: 5rem;
  padding-bottom: 10rem;
  border-radius: 20px;
  margin: 0 auto;
}

// APP SIDEBAR
.app--sidebar {
  width: 10.5rem;
}

.list-of-decks {
  @include scrollbars();

  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-height: 26rem;
  padding-right: 1.5rem;

  overflow-x: hidden;
  overflow-y: auto;
}

.deck--item {
  @include flex-container;
  flex-shrink: 0;

  height: 8rem;
  border-radius: 1.6rem;

  cursor: pointer;
}

.deck--item-create {
  background-color: #555;
  color: #fff;
}

// APP MAIN AREA
.app--main-area {
  border-radius: 3rem;
  padding: 3rem;
}

.app--main-area.closed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app--main-area.opened {
  background-color: #999;
}

.app--start-message,
.app--end-message {
  width: fit-content;
  margin: 0 auto;
}

.app--end-message {
  display: none;
}

.deck--options {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
}

input[value='Start'] {
  grid-column: 1 / -1;
  justify-self: center;

  width: 5rem;
  height: 3rem;
}

// CARDS LIST
%card {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  padding: 2rem;
}
%card-fside {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: #888;
}
%card-bside {
  display: grid;
  grid-template:
    'answer picture' min-content
    '. additional';

  background-color: #ccc;
}
%cardFlipSides {
  position: absolute;
  -webkit-backface-visibility: hidden; // Safari
  backface-visibility: hidden;
}

.cards-block-wrapper {
  grid-column: 1 / -1;
}

.cards-list-container {
  @include scrollbars();

  display: flex;
  flex-direction: column;
  gap: 2rem;

  justify-self: center;

  width: 100%;
  max-height: 50rem;
  padding-right: 2rem;

  overflow-y: auto;
  overflow-x: hidden;
}

.card--sides-block {
  display: flex;
  gap: 2rem;
  flex-shrink: 0;

  height: 20rem;
}

.card--fside-separate {
  @extend %card;
  @extend %card-fside;
}

.card--bside-separate {
  @extend %card;
  @extend %card-bside;

  position: relative;
}

.card--container {
  width: 40rem;
  height: 20rem;

  perspective: 1000px;

  &.flip .card {
    transform: rotateY(180deg);
  }
}

.card {
  @extend %card;
  padding: 0;

  transition: transform 0.6s;
  transform-style: preserve-3d;

  &--fside {
    @extend %card;
    @extend %card-fside;
    @extend %cardFlipSides;
  }

  &--bside {
    @extend %card;
    @extend %card-bside;
    @extend %cardFlipSides;

    transform: rotateY(180deg);
  }
}

.card--btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 10rem;
}

%btn {
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
}

.card--btn-up {
  @extend %btn;

  position: relative;
}

.card--btn-down {
  @extend %btn;
}

.card--btn-del {
  @extend %btn;

  margin-top: 2rem;
}

.card--btn-check {
  @extend %btn;
}

@mixin border-hiding-pseudo-elements($x, $x_value, $y, $y_value, $transform) {
  content: '';
  position: absolute;
  #{$x}: $x_value;
  #{$y}: $y_value;
  transform: $transform;

  height: 0.2rem;
  width: 7rem;

  background-color: var(--bg-color);
}

.card--btn-up::after {
  @include border-hiding-pseudo-elements(
    left,
    -2.7rem,
    top,
    0,
    translateY(-100%)
  );
}

.card--bside-separate:not(.card--bside-separate.card--side-separate)::after {
  @include border-hiding-pseudo-elements(
    right,
    0.8rem,
    bottom,
    -0.2rem,
    translateX(100%)
  );
}

.deck--create {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.deck--err-message {
  display: none;
}

.card--create {
  display: none;
  flex-direction: column;
  gap: 3rem;

  .card-add--deck-view {
    display: flex;
    justify-content: center;
    gap: 2rem;

    input,
    button {
      width: 50%;
    }
  }
}

.card--create--cards-block {
  display: flex;
  gap: 2rem;
}

.card--side-separate {
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;

  height: 20rem;

  // background-color: #ccc;
}

.card--create-img,
.card--input-img {
  position: absolute;
  top: 1rem;
  left: 2rem;

  width: 80%;

  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}

.card--fside-q,
.card--bside-a {
  word-break: break-word;
}

.card--bside-separate {
  padding: 2rem;
  border-radius: 1.2rem;
}

.card-q,
.card-a {
  text-align: center;
  width: 26rem;
  outline: none;
}

.deck--del--cur-lang {
  grid-column-end: 3;
}

.deck--del--whole {
  grid-column-end: 4;
}

.lang--label,
.lang--add-label {
  font-size: 1.6rem;
}

.lang--label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.lang-add-block {
  display: flex;
  margin-top: 1rem;
}

#lang_input {
  width: 12rem;
  padding-left: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.lang--add-btn {
  width: 4rem;
  padding: 0 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.deck--info {
  display: none;

  position: absolute;
  z-index: 1;

  max-width: 30rem;
  padding: 1rem;
  border-radius: 1rem;

  background-color: #333;
  color: #fff;
  opacity: 0.7;
}

.card--img {
  justify-self: end;

  width: 12rem;
  height: 12rem;
  margin-left: 3rem;
  border-radius: 1rem;
}

.card--bside-no-img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
}

@mixin input_icon($bgcolor, $img) {
  background: $bgcolor url($img) 0.5rem center/2.8rem no-repeat;
}

@mixin searchbars($mb) {
  height: 4rem;
  padding-left: 4rem;
  margin-bottom: $mb;

  font-size: 1.6rem;
}

.decks--search {
  width: 35%;
  transition: 0.3s;

  position: relative;
  z-index: 1;

  cursor: pointer;

  @include searchbars(1rem);
  @include input_icon(#b0b0b0, '../images/icons/search-outline.svg');
}
.decks--search:focus {
  width: 220%;
  cursor: auto;
}

.cards--search {
  @include searchbars(2rem);
  @include input_icon(#999, '../images/icons/cards.svg');
}

.cards--add-new {
  width: 100%;
  margin-top: 2rem;
  height: 6rem;
  border-radius: 0;
  background: rgb(195, 195, 191);
  background: linear-gradient(
    90deg,
    rgba(195, 195, 191, 0.2) 0%,
    rgba(170, 170, 170, 0.5970763305322129) 50%,
    rgba(195, 195, 191, 0.2) 100%
  );

  font-weight: 500;
  font-size: 4.8rem;
  color: #555;
}

.ionicon-plus {
  width: 5rem;
  height: 5rem;
}

%option {
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--bg-color);
}

.deck--language {
  @extend %option;
  font-size: 1.6rem;
}

.deck--cards-order {
  @extend %option;
}

.deck--option--cards-num {
  @extend %option;
}

.deck--cards-order-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

#order_random,
#order_original {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.order-random-label,
.order-original-label {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: fit-content;

  cursor: pointer;
}

.order-random-label::before,
.order-original-label::before {
  content: url(../images/icons/radio-button-off-outline.svg);
  width: 2.5rem;
  height: 2.5rem;
}

.checked::before {
  content: url(../images/icons/radio-button-on-outline.svg);
}

#cards_num_input {
  width: 100%;
  height: 7rem;
  padding-left: 1rem;
  margin-top: 1.2rem;

  background: none;

  font-size: 7rem;
  text-align: center;
}

.deck--create-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;

  background-color: var(--bg-color);

  li {
    display: flex;
    align-items: center;
    gap: 1rem;

    input:not(input[type='color']) {
      width: 100%;
      padding-left: 1rem;

      font-size: 1.4rem;
    }

    input[type='color'] {
      border-radius: 0;
    }
  }
}
.deck--err-message {
  font-size: 2rem;
}

.deck--language,
.deck--option--cards-num {
  position: relative;
}

.lang-is-empty-message,
.wrong-num-message {
  position: absolute;
  left: 0;
  transform: translateY(50%);
  width: 19rem;
}

.wrong-num-message {
  font-size: 1.5rem;
}

.btn--next-card {
  margin-top: 2rem;
  padding: 0 2rem;
}

.card--state-nums {
  display: inline;
  margin-left: 1rem;
}
